<%- include('partials/header') %>
</head>
<body>
<div class="info" >
  <h2 class="info-h2"><%=bincls%></h2>
  <h2 class="info-h2"><%=mulcls%></h2>
  <p class="info-h2"><%=desc%></hp>
    <h2 class="info-h2">Binary Class Accuracy = <%=binacc%></h2>
    <h2 class="info-h2">Multi Class Accuracy = <%=mulacc%></h2>
</div>

<div class="login-box-secret">
  <a class="btn" style="text-align: center;" href="/secrets" role="button">
    Predict Again!
  </a>
  <a class="btn" style="text-align: center;background-color: #dd4b39; #dd4b39" href="/logout" role="button">
    LOGOUT
  </a>
  <h6 style="margin-top: 25px; text-align: center;">Copyright © NIDS 2022.</h6>


